<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="600" />
  </system.web>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear />
        <add path="*">
          <traceAreas>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,Rewrite,iisnode" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="200-600" />
        </add>
      </traceFailedRequests>
    </tracing>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <applicationInitialization
      doAppInitAfterRestart="false">
      <!-- doAppInitAfterRestart: Specifies that the initialization process is initiated automatically whenever an application restart occurs. -->
      <add initializationPage="/api/resource/initialise" />
    </applicationInitialization>
  </system.webServer>
  <system.applicationHost>
    <webLimits connectionTimeout="00:10:00" />
  </system.applicationHost>
</configuration>